html, body, #root, .app {
    height: 100%;
}

.app {
    background-color: #40a9ff;
    overflow: auto;
}

.app__content {
    padding: 15px;
}

.app__col {
    margin-bottom: 15px;
}

.app__loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__loader .ant-spin-dot-item {
    background-color: #fff;
}

@media screen and (min-width: 1200px) {
    .app__col {
        margin: 0;
    }

    .app__content {
        padding: 50px;
    }
}